<div class="row">
  <div class="small-6 columns">
    <h1>
      All Meetups
      <% if signed_in? %>
        <span class="new_button">
          <a href="/new">+</a>
        </span>
      <% end %>
    </h1>
    <% @meetups.each do |meetup| %>
      <% unless @my_meetups.include?(meetup) %>
        <h3>
          <a href="/<%= meetup.id %>/show">
            <%= meetup.name %>
          </a>
            <small>
              (<%= meetup.location %>)
            </small>
        <% if signed_in? %>
          <form action="/<%= meetup.id %>/join" method="post" style="float:right">
            <input type="submit" value="Join" />
          </form>
        <% end %>
        </h3>
        <%= meetup.description %>
        <hr />
      <% end %>
    <% end %>
  </div>
  <% if signed_in? %>
    <div class="small-6 columns">
      <h1>
        My Meetups
      </h1>
      <% @my_meetups.each do |meetup| %>
        <h3>
          <a href="/<%= meetup.id %>/show">
            <%= meetup.name %>
          </a>
            <small>
              (<%= meetup.location %>)
            </small>
            <form action="/<%= meetup.reservations.first.id %>/cancel" method="post" style="float:right">
              <input type="submit" value="Leave" />
            </form>
        </h3>
        <%= meetup.description %>
        <hr />
      <% end %>
    </div>
  <% end %>
</div>
